@charset "UTF-8"; /*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
main {
  display: block;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
input {
  overflow: visible;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  padding: 0;
  color: inherit;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
details {
  display: block;
}
summary {
  display: list-item;
}
menu {
  display: block;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
#progress {
  position: fixed;
  top: 0;
  z-index: 15 !important;
  background-color: var(--bg);
}
#progress-bar {
  height: 3px;
  background-color: var(--progress);
  width: 0;
}
#search-popup #searchBox {
  margin: 0;
  border-color: transparent;
  background-color: var(--border);
  display: flex;
  box-sizing: border-box;
  transition: background-color 0.1s linear, border-color 0.1s linear,
    box-shadow 0.1s linear, -webkit-box-shadow 0.1s linear;
}
#search-popup #searchBox #searchBox__label {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
#search-popup #searchBox #searchBox__label input {
  width: 100%;
  padding: 0;
  border: 0;
  line-height: 1;
  color: var(--text);
  font: inherit;
  background-color: transparent;
  outline: 0;
  appearance: none;
  box-shadow: none;
  box-sizing: border-box;
}
#category-popup {
  user-select: none;
}
#category-popup .nav_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#category-popup .nav_href {
  display: flex;
  align-items: center;
  color: var(--text);
  text-decoration: none;
}
#category-popup .nav_href:hover {
  text-decoration: underline;
}
#category-popup .nav_span {
  margin: 0.1em 0 0 0.4em;
  line-height: 1em;
}
#settings-popup {
  user-select: none;
}
#settings-popup .settings-popup__bg-heading {
  margin-top: 2em;
  padding: 0 2vw;
  text-align: left;
}
#settings-popup .segmented-control {
  margin: 1em auto;
  grid-column: 3/4;
  grid-row: 1/2;
  border: solid 3px var(--border);
  background-color: var(--greyLight-1);
  display: flex;
  align-items: center;
  position: relative;
}
#settings-popup .segmented-control input {
  display: none;
}
#settings-popup .segmented-control > input:checked + label {
  transition: all 0.5s ease;
  color: var(--primary);
}
#settings-popup .segmented-control__1,
#settings-popup .segmented-control__2,
#settings-popup .segmented-control__3 {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--greyDark);
  transition: all 0.5s ease;
}
#settings-popup .segmented-control__1:hover,
#settings-popup .segmented-control__2:hover,
#settings-popup .segmented-control__3:hover {
  color: var(--primary);
}
#settings-popup .segmented-control__color {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--bg);
  position: absolute;
  pointer-events: none;
}
#settings-popup #tab-1:checked ~ .segmented-control__color {
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#settings-popup #tab-2:checked ~ .segmented-control__color {
  transform: translateX(100%);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#settings-popup #tab-3:checked ~ .segmented-control__color {
  transform: translateX(200%);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#settings-popup #loginform {
  display: flex;
  background-color: var(--greyLight-1);
  color: var(--bg);
  justify-content: space-between;
}
#settings-popup #loginform #loginform__inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#settings-popup #loginform #loginform__inputs input {
  border-radius: 6px;
  padding: 0.5em 1em;
  border: none;
  background-color: var(--bg);
  color: var(--text);
}
#settings-popup #loginform #loginform__actions {
  box-sizing: border-box;
}
#settings-popup #loginform #loginform__actions figure svg {
  fill: var(--text);
}
#settings-popup #loginform #loginform__actions input {
  border-radius: 6px;
  width: 50%;
  border: none;
  background-color: var(--bg);
  color: var(--text);
  cursor: pointer;
}
#settings-popup #loginform #loginform__actions input:hover {
  text-decoration: underline;
}
#category-popup__bg .logo,
#settings-popup .logo {
  line-height: 1em;
  text-decoration: none;
  color: var(--text);
  display: block;
  text-align: center;
}
#category-popup__bg .header_desc,
#settings-popup .header_desc {
  text-align: center;
}
.cd-popup {
  left: 0;
  top: 0;
  height: 100%;
  width: 100vw;
  z-index: 11 !important;
  position: fixed;
  background-color: var(--popupbg);
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.cd-popup-container {
  z-index: 12 !important;
  background: var(--bg);
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.cd-popup-container::-webkit-scrollbar {
  display: none;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
#navigation {
  position: fixed;
  left: 0;
  background-color: var(--bg);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  z-index: 15 !important;
}
@media (max-width: 1199px) {
  #progress {
    width: 100%;
    left: 0;
  }
  #notification-area {
    display: none;
  }
  #search-popup #searchBox {
    border-radius: 9px;
  }
  #search-popup #searchBox #searchBox__label {
    padding: 0 10px;
  }
  #search-popup #searchBox #searchBox__label input {
    width: 100%;
    height: 2.5em;
    margin: 0 0 0 10px;
    padding: 0;
  }
  #search-popup #searchBox #searchBox__label #searchsubmit {
    max-height: 1.75em;
    max-width: 1.75em;
  }
  #category-popup .nav_flex {
    margin-top: 2em;
    font-size: 1.25em;
  }
  #category-popup .nav_href {
    margin: 1em 0 -0.2em;
  }
  #settings-popup .segmented-control {
    width: 100%;
    height: 3em;
    border-radius: 12px;
  }
  #settings-popup .segmented-control__1,
  #settings-popup .segmented-control__2,
  #settings-popup .segmented-control__3 {
    height: 3em;
    font-size: 0.7em;
  }
  #settings-popup .segmented-control__color {
    height: 3em;
    width: 33%;
    margin-left: 0.5px;
    border-radius: 9px;
  }
  #settings-popup #loginform {
    flex-direction: column;
    margin: 1em auto;
    padding: 2em;
    border-radius: 9px;
  }
  #settings-popup #loginform #loginform__inputs {
    justify-content: space-between;
    height: 5em;
  }
  #settings-popup #loginform #loginform__actions {
    margin-top: 2em;
  }
  #settings-popup #loginform #loginform__actions input {
    padding: 0.4em 0.8em;
  }
  #settings-popup #loginform figure {
    display: none;
  }
  #category-popup__bg .logo,
  #settings-popup .logo {
    font-size: 4em;
    line-height: 1em;
    margin: 0;
  }
  #category-popup__bg .header_desc,
  #settings-popup .header_desc {
    font-size: 0.75em;
    margin: 1em 0 2em;
  }
  .cd-popup-container {
    width: 100%;
    height: calc(100vh - 50px);
    box-sizing: border-box;
    position: fixed;
    top: 0;
    padding: 5em 2em;
  }
  .cd-popup-mobile.icon {
    position: fixed;
    top: 1em;
    right: 1em;
  }
  #navigation {
    bottom: 0;
    height: 50px;
    width: 100%;
    padding: 0 15px;
    justify-content: space-between;
    border-top: 1px solid var(--border);
  }
  #navigation__gotop-desktop {
    display: none;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  #progress {
    width: calc(97vw - (100vw - 100%));
    left: 3vw;
  }
  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-out-bck-center {
    0% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(-1100px);
      transform: translateZ(-1100px);
      opacity: 0;
    }
  }
  @keyframes slide-out-bck-center {
    0% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(-1100px);
      transform: translateZ(-1100px);
      opacity: 0;
    }
  }
  #notification-area {
    user-select: none;
    top: 0;
    right: 0;
    width: 20vw;
    padding: 1.75vw;
    display: block;
    position: fixed;
  }
  #notification-area .notification {
    padding: 0.75vw;
    margin-bottom: 1.75em;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    border: solid 1px var(--border);
    border-radius: 0.65vw;
    box-shadow: rgba(0, 0, 0, 0.04) 0 3px 5px;
  }
  #notification-area .notification.slide-in-right {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  #notification-area .notification.slide-out-bck-center {
    -webkit-animation: slide-out-bck-center 0.5s
      cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: slide-out-bck-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      both;
  }
  #notification-area .notification .notification-header--box {
    height: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
  #notification-area .notification .notification-header--box figure {
    height: 1.5em;
    width: 1.5em;
  }
  #notification-area .notification .notification-header--box figure svg {
    height: 0.65em;
    width: 0.65em;
  }
  #notification-area .notification .notification-header {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-size: 0.75vw;
  }
  #notification-area .notification.notification-text .notification-content {
    margin-bottom: 0;
    font-size: 0.6vw;
  }
  #notification-area .notification.notification-video .notification-link img {
    margin-top: 0.6vw;
    width: 18.5vw;
    max-height: 10.4vw;
    border-radius: 0.45vw;
    object-fit: cover;
  }
  #notification-area .notification.notification-audio audio {
    margin-top: 0.6vw;
    width: 100%;
  }
  #notification-area
    .notification.notification-audio
    audio::-webkit-media-controls-panel {
    background-color: var(--box);
  }
  #search-popup #searchBox {
    border-radius: 0.65vw;
  }
  #search-popup #searchBox #searchBox__label {
    padding: 0 20px;
  }
  #search-popup #searchBox #searchBox__label input {
    width: 100%;
    height: 2vw;
    margin: 0;
    padding: 0;
  }
  #search-popup #searchBox #searchBox__label #searchsubmit {
    max-height: 35px;
    max-width: 35px;
  }
  #category-popup .nav_flex {
    margin-bottom: 5vw;
    font-size: 1.1vw;
  }
  #category-popup .nav_href {
    margin: 1.7em 0 -0.2em;
  }
  #settings-popup .segmented-control {
    width: 24vw;
    height: 3vw;
    border-radius: 1rem;
  }
  #settings-popup .segmented-control__1,
  #settings-popup .segmented-control__2,
  #settings-popup .segmented-control__3 {
    height: 3vw;
    font-size: 0.8vw;
  }
  #settings-popup .segmented-control__color {
    height: 3vw;
    width: 8vw;
    margin-left: 0.025vw;
    border-radius: 0.8rem;
  }
  #settings-popup #loginform {
    width: 80%;
    margin: 1vw auto 5vw;
    padding: 2vw;
    border-radius: 0.65vw;
  }
  #settings-popup #loginform #loginform__actions {
    border-left: solid 3px var(--border);
    width: 50%;
  }
  #settings-popup #loginform #loginform__actions input {
    padding: 0.5em 1em;
  }
  #settings-popup #loginform figure svg {
    width: 50px;
    height: 50px;
  }
  #category-popup__bg .logo,
  #settings-popup .logo {
    font-size: 5.75em;
    line-height: 1em;
    margin: 5vw 0 0 0;
  }
  #category-popup__bg .header_desc,
  #settings-popup .header_desc {
    font-size: 1.02em;
    margin: 1.12em 0 2.35em 0;
  }
  .cd-popup-container {
    width: 90%;
    max-width: 720px;
    border-radius: 0.65vw;
    padding: 0.75vw;
    border: 1px solid var(--border);
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transform: translateY(80px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .cd-popup-mobile.icon {
    display: none;
  }
  #navigation {
    top: 0;
    height: 100%;
    width: 3vw;
    border-right: 1px solid var(--border);
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1vw;
  }
  #navigation #navigation__gotop-mobile {
    display: none;
  }
  #navigation #navigation__menu {
    margin: calc(50vh - 6.775em) 0 1em;
  }
  #navigation__gotop-desktop {
    position: fixed;
    right: 1em;
    bottom: 1em;
  }
}
.icon {
  transition: background-color ease-out 0.6s, scale 0.3s, opacity 0.1s;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  outline: 0 !important;
}
.icon svg {
  fill: var(--button);
}
.icon:active {
  transform: scale(0.95);
  opacity: 90%;
  background-color: var(--hover);
}
.tooltip {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  background-color: var(--bg);
  color: var(--text);
  top: 0;
  left: 0;
  padding: 0.6vw 1.2vw;
  min-width: max-content;
  user-select: none;
  transition: opacity ease-in 0.3s;
  border: 1px solid var(--border);
  border-radius: 0.65vw;
  line-height: 3ex;
  font-size: 1vw;
  font-family: Mont-Regular, "Open Sans", Lato, Roboto, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
}
@media (max-width: 1199px) {
  .icon {
    margin: 0;
    opacity: 30%;
    height: 46px;
    width: 46px;
  }
  .icon svg {
    height: 21px;
    width: 21px;
  }
  .tooltip {
    display: none;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  .icon {
    font-size: 1vw;
    margin: 0.5em 0;
    opacity: 50%;
    height: 2.4em;
    width: 2.4em;
  }
  .icon svg {
    height: 1.25em;
    width: 1.25em;
  }
  .icon:hover {
    background-color: var(--hover);
    opacity: 70%;
  }
}
html {
  font-family: Mont-Regular, "Open Sans", Lato, Roboto, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  font-size: 17px;
  line-height: normal;
}
body {
  width: 100%;
  margin: 0;
  color: var(--text);
  background-color: var(--bg);
  text-rendering: optimizeLegibility;
  text-align: left;
}
body ::selection {
  background: var(--selection);
  color: var(--text);
}
#main {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  box-sizing: border-box;
}
#main a:not(.spotlight) {
  color: var(--text);
}
#main #autor_card {
  display: flex;
  align-items: center;
}
#main #autor_card .avatar {
  border-radius: 50%;
  display: inline-block;
}
#main #autor_card .post_meta {
  font-size: 0;
}
#main #autor_card .post_meta #autor_url {
  margin: 0;
  display: block;
  text-decoration: none;
}
#main #autor_card .post_meta .post_date,
#main #autor_card .post_meta .reading_time {
  color: var(--grey400);
}
#main #autor_card .post_meta .reading_time::before {
  content: "•";
}
#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
  font-family: "PT Serif", serif;
  text-align: left;
  word-break: break-word;
}
#main ol,
#main ul {
  padding: 0;
}
#main pre code {
  border-radius: 0.75em;
  text-align: left;
  display: block;
  overflow-x: auto;
  background: #282a36;
  color: #f8f8f2;
  font-family: PTMonoWebRegular, monospace !important;
}
#main .wp-block-quote p {
  border-left: solid var(--text) 3px;
  box-sizing: border-box;
}
#main .wp-block-video video {
  border-radius: 0.75em;
}
#main .arve-iframe {
  border-radius: 0.75em;
}
#main .mebbr-image {
  text-align: center;
}
#main img {
  max-width: 100%;
  height: auto;
  border-radius: 0.75em;
}
#main figcaption {
  text-align: center;
}
#main .overflow {
  overflow-x: scroll;
}
#main .wp-block-table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  text-align: center;
}
#main .wp-block-table th {
  background-color: var(--selection);
}
#main .wp-block-table td,
#main .wp-block-table th {
  border: 1px solid var(--border);
}
#main .wp-block-table tr:nth-child(even) {
  background-color: var(--box);
}
#main .wp-block-table tr:hover {
  background-color: var(--hover);
}
#related {
  width: 100%;
  max-width: 650px;
  position: relative;
  box-sizing: border-box;
  background-color: var(--box);
  border-radius: 0.75em;
  counter-reset: item;
}
#related::before {
  content: "";
  position: absolute;
  top: -1.2em;
  left: 0;
  width: 100%;
  background: #aa8dd8;
  height: 4px;
  border: none;
  border-radius: 2px;
}
#related #related-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#related #related-container {
  margin-bottom: 0;
}
#related #related-container .rel-title {
  color: var(--text);
  display: block;
  max-width: fit-content;
}
#related #related-container ul {
  margin: 1em 0;
}
#related #related-container ul li {
  list-style-type: none;
  position: relative;
}
#related #related-container li::before {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  content: counter(item);
  counter-increment: item;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -32px;
  color: #fff;
  background-color: #aa8dd8;
}
#related hr {
  height: 3px;
  border: 0;
  background-color: var(--bg);
  border-radius: 0.75em;
}
#related #article_tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
#related #article_tags a {
  color: var(--text);
  text-decoration: none;
}
#related #article_tags a::before {
  box-sizing: border-box;
  color: #aa8dd8;
  content: "#";
}
#comments-box {
  width: 100%;
  max-width: 650px;
  margin: 2.35rem auto 0;
  position: relative;
  box-sizing: border-box;
  background-color: var(--box);
  border-radius: 0.75em;
}
#comments-box #comments ol {
  list-style-type: none;
}
#comments-box #comments .comment-body {
  overflow-wrap: break-word;
}
#comments-box #comments .vcard img {
  border-radius: 50%;
  display: inline-block;
}
#comments-box a {
  text-decoration: none;
  color: var(--text);
}
footer {
  border-top: solid 1px var(--border);
  background: var(--box);
  margin-top: 2em;
}
footer #footer {
  max-width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
footer #footer a {
  color: var(--text);
}
footer #footer .social_icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}
footer #footer .social_icons a {
  text-decoration: none;
}
footer #footer #footer_combo a {
  user-select: none;
}
img.emoji {
  height: 1em !important;
  width: 1em !important;
  margin: 0 0.2em !important;
  vertical-align: -0.1em !important;
  padding: 0 !important;
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  background: 0 0 !important;
  user-select: none;
}
::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-thumb {
  background: var(--hover);
  border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--selection);
}
::-webkit-scrollbar-track {
  background: var(--bg);
  border-radius: 0;
}
.hljs {
  display: block;
  overflow-x: auto;
  background: #282a36;
  border-radius: 0.75em;
  font-family: PTMonoWebRegular, monospace !important;
}
.hljs-built_in,
.hljs-link,
.hljs-section,
.hljs-selector-tag {
  color: #8be9fd;
}
.hljs-keyword {
  color: #ff79c6;
}
.hljs,
.hljs-subst {
  color: #f8f8f2;
}
.hljs-title {
  color: #50fa7b;
}
.hljs-addition,
.hljs-attr,
.hljs-bullet,
.hljs-meta,
.hljs-name,
.hljs-string,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #f1fa8c;
}
.hljs-comment,
.hljs-deletion,
.hljs-quote {
  color: #6272a4;
}
.hljs-literal,
.hljs-number {
  color: #bd93f9;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs span::selection,
.hljs::selection {
  background: var(--codeselection) !important;
  color: var(--bg);
}
@font-face {
  font-family: "PT Serif";
  src: url(//static.mebbr.ru/fonts/mebbr/PTSerif.woff2) format("woff2"),
    url(//static.mebbr.ru/fonts/mebbr/PTSerif.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Mont-Regular;
  src: url(//static.mebbr.ru/fonts/mebbr/Mont.woff2) format("woff2"),
    url(//static.mebbr.ru/fonts/mebbr/Mont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: PTMonoWebRegular;
  src: url(//static.mebbr.ru/fonts/mebbr/PT-Mono_Regular.woff2) format("woff2"),
    url(//static.mebbr.ru/fonts/mebbr/PT-Mono_Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@media (max-width: 1199px) {
  #main {
    padding: 0 24px;
  }
  #main #autor_card {
    margin: 32px 0 24px;
  }
  #main #autor_card .avatar {
    height: 48px;
    width: 48px;
  }
  #main #autor_card .post_meta {
    margin: 0 0 0 1rem;
  }
  #main #autor_card .post_meta #autor_url {
    font-size: 16px;
    line-height: 24px;
  }
  #main #autor_card .post_meta .post_date,
  #main #autor_card .post_meta .reading_time {
    font-size: 14px;
  }
  #main #autor_card .post_meta .reading_time::before {
    padding: 0 0.5rem;
  }
  #main h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.512px;
    margin: 0.64em 0 -0.27em;
  }
  #main h2,
  #main h3,
  #main h4,
  #main h5,
  #main h6 {
    margin: 2em 0 -0.3em;
    font-size: 24px;
    line-height: 32px;
  }
  #main #article_tags,
  #main .advert,
  #main figure,
  #main hr,
  #main p,
  #main pre {
    margin: 28px 0 -8px;
    line-height: 25px;
    letter-spacing: -0.5px;
  }
  #main ol,
  #main ul {
    margin: 28px 0 -8px;
  }
  #main li {
    margin: 18px 0 -8px 30px;
  }
  #main li ol,
  #main li ul {
    margin: -6px 0 18px;
  }
  #main pre {
    line-height: 28px;
  }
  #main pre code {
    font-size: 14px;
    line-height: 1.5em;
    padding: 0.5em 1em;
  }
  #main figcaption {
    text-align: center;
    font-size: 12px;
    margin: 8px 0 0;
    opacity: 0.75;
  }
  #main blockquote {
    margin: 28px 0 -8px -12px;
  }
  #main blockquote p {
    padding: 0 0 0 24px;
  }
  #main table {
    margin: 28px 0 0;
  }
  #main table td,
  #main table th {
    padding: 3px 10px;
  }
  #related {
    padding: 24px;
    margin: 60px auto -8px;
  }
  #related::before {
    top: -28px;
    border-radius: 0;
  }
  #related #related-header {
    font-size: 14px;
  }
  #related #related-header h2 {
    margin: 0;
    font-weight: 700;
    line-height: 1.2em;
    font-family: "PT Serif", serif;
    text-align: left;
    word-break: break-word;
  }
  #related #related-header .emoji {
    height: 1.5em !important;
    width: 1.5em !important;
  }
  #related #related-container {
    margin-bottom: 0;
  }
  #related #related-container .rel-title {
    font-size: 1em;
    margin: 0.5em 0;
    text-decoration: none;
    line-height: 24px;
    border-bottom: solid 3px transparent;
  }
  #related #related-container .rel-title:hover {
    border-color: #aa8dd8;
  }
  #related #article_tags a {
    margin: 0.5em 1em 0 0;
    border-bottom: solid 3px transparent;
  }
  #related #article_tags a:hover {
    border-color: #aa8dd8;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  #main #autor_card {
    margin: 1.175em 0 0;
  }
  #main #autor_card .post_meta {
    margin: 0 0 0 0.647rem;
  }
  #main #autor_card .post_meta #autor_url {
    font-size: 15px;
  }
  #main #autor_card .post_meta .post_date,
  #main #autor_card .post_meta .reading_time {
    font-size: 13px;
  }
  #main #autor_card .post_meta .reading_time::before {
    padding: 0 0.412rem;
  }
  #main h1,
  #main h2,
  #main h3,
  #main h4,
  #main h5,
  #main h6 {
    font-weight: 700;
    margin: 2.35rem 0 0;
    line-height: 1.2em;
  }
  #main h1 {
    margin-top: 2.647rem;
    font-size: 2.235rem;
  }
  #main h2 {
    font-size: 1.294rem;
    margin: 4.06rem 0 -1.47rem;
  }
  #main h3 {
    font-size: 1.176rem;
    margin: 2.79rem 0 -1.47rem;
  }
  #main h4 {
    font-size: 1.625rem;
  }
  #main h5 {
    font-size: 1.4rem;
  }
  #main h6 {
    font-size: 1.25rem;
  }
  #main p {
    font-size: 17px;
    line-height: 1.6em;
    margin: 2.35rem 0 0;
  }
  #main .advert {
    margin-top: 2em;
  }
  #main ol,
  #main ul {
    margin: 2.35rem 0 0;
  }
  #main li {
    margin: 1.34rem 0 -0.54rem 1.764rem;
  }
  #main pre {
    margin: 2rem 0 0;
    line-height: 28px;
  }
  #main pre code {
    font-size: 1em;
    line-height: 1.5em;
    padding: 0.5em 1em;
  }
  #main .wp-block-quote {
    margin: 2.35rem 0 0 -1.2rem;
  }
  #main .wp-block-quote p {
    padding-left: calc(1.2rem - 3px);
  }
  #main .wp-block-quote .wp-block-embed {
    margin: 2em 0 0;
  }
  #main .wp-block-video {
    margin: 2rem 0 0;
  }
  #main .mebbr-image {
    margin: 30px 0;
  }
  #main figcaption {
    font-size: 17px;
    margin-top: 10px;
  }
  #main hr {
    margin: 2.35rem 0 0;
  }
  #main .wp-block-table {
    margin: 2.35rem 0 0;
    font-size: 14px;
  }
  #main .wp-block-table td {
    padding: 8px;
  }
  #main .wp-block-table th {
    padding: 12px 8px;
    font-weight: 400;
  }
  #related {
    padding: 1.4em;
    margin: 2.35rem auto 0;
  }
  #related #related-header {
    font-size: 1em;
  }
  #related #related-header h2 {
    margin: 0;
    font-weight: 700;
    line-height: 1.2em;
    font-family: "PT Serif", serif;
    text-align: left;
    word-break: break-word;
  }
  #related #related-header .emoji {
    height: 1.5em !important;
    width: 1.5em !important;
  }
  #related #related-container {
    margin-bottom: 0;
  }
  #related #related-container .rel-title {
    font-size: 1em;
    margin: 0.5em 0;
    text-decoration: none;
    line-height: 24px;
    border-bottom: solid 3px transparent;
  }
  #related #related-container .rel-title:hover {
    border-color: #aa8dd8;
  }
  #related #article_tags a {
    margin: 0.5em 1em 0 0;
    border-bottom: solid 3px transparent;
  }
  #related #article_tags a:hover {
    border-color: #aa8dd8;
  }
  footer #footer {
    width: 88vw;
    padding: 20px;
    margin: 2em auto 0;
  }
  footer #footer .social_icons {
    margin: 1.5em 0 2em;
  }
  footer #footer #footer_combo a {
    margin-right: 1em;
  }
  .hljs {
    padding: 0.5em 1em;
  }
}
