$t: 0.2s;
$delay: 0.05s;
$gray: #d2d2d2;
$blue: #339af0;
$red: #cf3455;
$black: #575757;
$hamburger: #444;
$progress: #444;

#progress {
  height: 3px;
  background-color: $progress;
  position: fixed;
  top: 0;
  z-index: 999;
}

#header-mobile {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6;
  transition: all ease 500ms;
  .navbar {
    display: flex;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/230827/background.png");
    background-position: center center;
    background-size: cover;
    background-color: $blue;
    padding: 15px 10px;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

body.open {
  .mobile-wrapper .mobile .screen {
    .header .navbar .nav-toggle {
      span {
        &:nth-child(1) {
          transform: translateY(-50%) rotate(-45deg);
          transform-origin: bottom left;
          width: 50%;
          top: 50%;
        }

        &:nth-child(3) {
          transform: translateY(50%) rotate(45deg);
          transform-origin: top left;
          width: 50%;
          bottom: 50%;
        }
      }
    }

    .aside {
      transform: translateX(0%);

      ul li {
        animation: fadeInLeft ease 500ms;
        animation-fill-mode: forwards;
        opacity: 0;

        @for $i from 1 to 5 {
          &:nth-child(#{$i}) {
            animation-delay: $i * 0.1s;
          }
        }
      }
    }
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

button {
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  outline: none;
}

#header-mobile__menu {
  position: relative;
  //   top: 5px;
  //   left: 25px;
  //   transform: translate(-50%, -50%);
  height: 50px;
  width: 55px;
  overflow: hidden;
  padding: 15px;
  cursor: pointer;
  &.active {
    &:before {
      animation: slideLeft $t $delay ease-out forwards;
    }
    &:after {
      animation: slideRight $t $delay ease-out forwards;
    }
    .bar {
      animation: rotate45 $t ease-out forwards;
      &:last-child {
        animation: rotate135 $t $t ease-out forwards;
      }
    }
  }
  &.back {
    &:before {
      transform: translateX(-120%);
      animation: slideBack $t $delay ease-out forwards;
    }
    &:after {
      transform: translateX(120%);
      animation: slideBack $t $delay ease-out forwards;
    }
    .bar {
      transform: rotate(-45deg);
      animation: rotateBack $t ease-out forwards;
      &:last-child {
        transform: rotate(-135deg);
        animation: rotateBack $t $t ease-out forwards;
      }
    }
  }
  &:before {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background: $hamburger;
  }
  &:after {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background: $hamburger;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    background: $hamburger;
    margin: 5px 0;
    &:last-child {
      opacity: 0;
      transform: rotate(-45deg);
      position: absolute;
      top: 18px;
    }
  }
}

@keyframes rotate135 {
  from {
    opacity: 1;
    transform: rotate(-45deg);
  }
  to {
    opacity: 1;
    transform: rotate(-135deg);
  }
}

@keyframes rotate45 {
  to {
    transform: rotate(-45deg);
  }
}
@keyframes rotateBack {
  to {
    transform: rotate(0);
  }
}
@keyframes slideRight {
  to {
    transform: translateX(160%);
  }
}
@keyframes slideLeft {
  to {
    transform: translateX(-160%);
  }
}
@keyframes slideBack {
  to {
    transform: translateX(0);
  }
}

#header-mobile__search {
  height: 50px;
  width: 55px;
}
