body {
  text-rendering: optimizeLegibility;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0 16px;

  #header__left-box {
    display: flex;
    flex-direction: row;

    #header__naming {
      display: flex;
      flex-direction: column;
    }
  }

  #header__right-box {
    display: flex;
    flex-direction: row;
    align-items: center;

    .header__button {
      display: flex;
      align-items: center;
      justify-content: center;
      
      height: 44px;
      margin: 4px;

      border-radius: 16px;
      border: none;

      background-color: var(--accent);

      cursor: pointer;

      &.icon {
        min-width: 44px;
      }

      &.text {
        padding: 16px;
        min-width: 44px;
      }
    }
  }
}

@import "home-template/home-template_mobile.scss";
@import "home-template/home-template_desktop.scss";