$tooltip: 0.3s;

.icon {
  transition: background-color ease-out $hover, scale $scale, opacity $opacity;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
  svg {
    fill: var(--button);
  }
  &:active {
    transform: scale(0.95);
    opacity: 90%;
    background-color: var(--hover);
  }
}

.tooltip {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  background-color: var(--bg);
  color: var(--text);
  top: 0;
  left: 0;
  padding: 0.6vw 1.2vw;
  min-width: max-content;
  user-select: none;
  transition: opacity ease-in $tooltip;
  border: 1px solid var(--border);
  border-radius: 0.65vw;
  line-height: 3ex;
  font-size: 1vw;
  font-family: Mont-Regular, "Open Sans", "Lato", "Roboto", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
}

@import "icons_mobile.scss";
@import "icons_desktop.scss";
